:root {
    --textBlue: #94d6fa;
    --lightBlue: #31A3E0;
    --backgroundBlue: #154661;
    --mediumBlue: #267EAD;
    --backgroundGrey: #565F63;
  }

/* source: https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
.hero {
  /* photo by thoughtsinbuttermillk http://www.thoughtsinbuttermilk.com */
  background: url("../marinacityHero.png") center; 
  background-size: cover;
  background-color: #565F63;
  padding: 4rem 2rem;

  /* grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* html styles */
html{
    scroll-behavior: smooth;
}
/*
IBM Plex Mono Regular
font-family: "ibm-plex-mono", sans-serif;
font-weight: 400;
font-style: normal;

IBM Plex Mono Italic
font-family: "ibm-plex-mono", sans-serif;
font-weight: 400;
font-style: italic;

IBM Plex Mono SemiBold
font-family: "ibm-plex-mono", sans-serif;
font-weight: 700;
font-style: normal;

IBM Plex Mono SemiBold Italic
font-family: "ibm-plex-mono", sans-serif;
font-weight: 700;
font-style: italic;

IBM Plex Mono Bold
font-family: "ibm-plex-mono", sans-serif;
font-weight: 800;
font-style: normal;

IBM Plex Mono Bold Italic
font-family: "ibm-plex-mono", sans-serif;
font-weight: 800;
font-style: italic;
•/

/* color palette created at https://color.adobe.com/create/color-wheel */
h1 {
  color: var(--textBlue);
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h2 {
  color: var(--textBlue);
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: var(--textBlue);
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
    color: var(--lightBlue);
    text-decoration: none;
    font-family: "ibm-plax-mono";
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;  
}