/*
IBM Plex Mono Regular
font-family: "ibm-plex-mono", sans-serif;
font-weight: 400;
font-style: normal;

IBM Plex Mono Italic
font-family: "ibm-plex-mono", sans-serif;
font-weight: 400;
font-style: italic;

IBM Plex Mono SemiBold
font-family: "ibm-plex-mono", sans-serif;
font-weight: 700;
font-style: normal;

IBM Plex Mono SemiBold Italic
font-family: "ibm-plex-mono", sans-serif;
font-weight: 700;
font-style: italic;

IBM Plex Mono Bold
font-family: "ibm-plex-mono", sans-serif;
font-weight: 800;
font-style: normal;

IBM Plex Mono Bold Italic
font-family: "ibm-plex-mono", sans-serif;
font-weight: 800;
font-style: italic;
•/

/* color palette created at https://color.adobe.com/create/color-wheel */

:root {
  --backgroundBlue: #94d6fa;
  --backgroundGrey: #565f63;
  --darkBlue: #154661;
  --lightBlue: #31a3e0;
  --textBlue: #267ead;
}

body {
  /* photo by thoughtsinbuttermillk http://www.thoughtsinbuttermilk.com */
  background: url("../marinacityHero.png") center;
  /* added background attachment property so that as the page grows and scrolling is required, the background image scrolls with the content */
  background-attachment: scroll;
  background-color: black;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 2rem;
}

.header {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.projects {
  /* grid styles */
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/*
TODO: unfinished, needs work.
.link {
  a:link: var(--textBlue)
  a:visited: green; 
}
*/

h1 {
  color: var(--textBlue);
  font-family: "ibm-plex-mono", sans-serif;
  font-style: normal;
  /* setting the font size explictly to keep the h1 style consistent when grid is resized*/
  font-size: 2em;
  font-weight: 400;
}

h2 {
  color: var(--textBlue);
  font-family: "ibm-plex-mono", sans-serif;
  font-style: normal;
  font-weight: 800;
}

p {
  color: var(--textBlue);
  font-family: "ibm-plex-mono", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/*
wanted to use a pseudo-element
applies styles to the first line of a block-level element
does not work with in-line block level elements
reminder: allowable properties list https://developer.mozilla.org/en-US/docs/Web/CSS/::first-line

p::first-line {
  font-size: 1.2rem;
  text-decoration: underline;
}
*/
